.card {
    background: lightgray;
    width: 390px;
    img {
        width: 100%;
        object-fit: cover;
        height: 100%;
    }
}

.container-card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.wrappers {
    display: flex;
    justify-content: center;
}
